$black: black !default;
$white: white !default;

$gray-50: lighten($black, 95%) !default;
$gray-100: lighten($black, 90%) !default;
$gray-200: lighten($black, 80%) !default;
$gray-300: lighten($black, 70%) !default;
$gray-400: lighten($black, 60%) !default;
$gray-500: lighten($black, 50%) !default;
$gray-600: lighten($black, 40%) !default;
$gray-700: lighten($black, 30%) !default;
$gray-800: lighten($black, 20%) !default;
$gray-900: lighten($black, 10%) !default;
$gray: $gray-500 !default;

$blueGray: #607d8b !default;
$brown: #8e5f4e !default;
$red: #ff392b !default;
$deepOrange: #fa541c !default;
$orange: #fa8c16 !default;
$amber: #faad14 !default;
$yellow: #fadb14 !default;
$lime: #cddc39 !default;
$lightGreen: #8bc34a !default;
$green: #4caf50 !default;
$teal: #20dcc9 !default;
$cyan: #1bd5ee !default;
$lightBlue: #15b5ff !default;
$blue: #1395ff !default;
$indigo: #3f51b5 !default;
$deepPurple: #673ab7 !default;
$purple: #9c27b0 !default;
$pink: #e91e63 !default;

$blueGray-50: lighten($blueGray, 40%) !default;
$blueGray-100: lighten($blueGray, 32%) !default;
$blueGray-200: lighten($blueGray, 24%) !default;
$blueGray-300: lighten($blueGray, 16%) !default;
$blueGray-400: lighten($blueGray, 8%) !default;
$blueGray-500: $blueGray !default;
$blueGray-600: darken($blueGray, 8%) !default;
$blueGray-700: darken($blueGray, 16%) !default;
$blueGray-800: darken($blueGray, 24%) !default;
$blueGray-900: darken($blueGray, 32%) !default;

$brown-50: lighten($brown, 40%) !default;
$brown-100: lighten($brown, 32%) !default;
$brown-200: lighten($brown, 24%) !default;
$brown-300: lighten($brown, 16%) !default;
$brown-400: lighten($brown, 8%) !default;
$brown-500: $brown !default;
$brown-600: darken($brown, 8%) !default;
$brown-700: darken($brown, 16%) !default;
$brown-800: darken($brown, 24%) !default;
$brown-900: darken($brown, 32%) !default;

$red-50: lighten($red, 40%) !default;
$red-100: lighten($red, 32%) !default;
$red-200: lighten($red, 24%) !default;
$red-300: lighten($red, 16%) !default;
$red-400: lighten($red, 8%) !default;
$red-500: $red !default;
$red-600: darken($red, 8%) !default;
$red-700: darken($red, 16%) !default;
$red-800: darken($red, 24%) !default;
$red-900: darken($red, 32%) !default;

$deepOrange-50: lighten($deepOrange, 40%) !default;
$deepOrange-100: lighten($deepOrange, 32%) !default;
$deepOrange-200: lighten($deepOrange, 24%) !default;
$deepOrange-300: lighten($deepOrange, 16%) !default;
$deepOrange-400: lighten($deepOrange, 8%) !default;
$deepOrange-500: $deepOrange !default;
$deepOrange-600: darken($deepOrange, 8%) !default;
$deepOrange-700: darken($deepOrange, 16%) !default;
$deepOrange-800: darken($deepOrange, 24%) !default;
$deepOrange-900: darken($deepOrange, 32%) !default;

$orange-50: lighten($orange, 40%) !default;
$orange-100: lighten($orange, 32%) !default;
$orange-200: lighten($orange, 24%) !default;
$orange-300: lighten($orange, 16%) !default;
$orange-400: lighten($orange, 8%) !default;
$orange-500: $orange !default;
$orange-600: darken($orange, 8%) !default;
$orange-700: darken($orange, 16%) !default;
$orange-800: darken($orange, 24%) !default;
$orange-900: darken($orange, 32%) !default;

$amber-50: lighten($amber, 40%) !default;
$amber-100: lighten($amber, 32%) !default;
$amber-200: lighten($amber, 24%) !default;
$amber-300: lighten($amber, 16%) !default;
$amber-400: lighten($amber, 8%) !default;
$amber-500: $amber !default;
$amber-600: darken($amber, 8%) !default;
$amber-700: darken($amber, 16%) !default;
$amber-800: darken($amber, 24%) !default;
$amber-900: darken($amber, 32%) !default;

$yellow-50: lighten($yellow, 40%) !default;
$yellow-100: lighten($yellow, 32%) !default;
$yellow-200: lighten($yellow, 24%) !default;
$yellow-300: lighten($yellow, 16%) !default;
$yellow-400: lighten($yellow, 8%) !default;
$yellow-500: $yellow !default;
$yellow-600: darken($yellow, 8%) !default;
$yellow-700: darken($yellow, 16%) !default;
$yellow-800: darken($yellow, 24%) !default;
$yellow-900: darken($yellow, 32%) !default;

$lime-50: lighten($lime, 40%) !default;
$lime-100: lighten($lime, 32%) !default;
$lime-200: lighten($lime, 24%) !default;
$lime-300: lighten($lime, 16%) !default;
$lime-400: lighten($lime, 8%) !default;
$lime-500: $lime !default;
$lime-600: darken($lime, 8%) !default;
$lime-700: darken($lime, 16%) !default;
$lime-800: darken($lime, 24%) !default;
$lime-900: darken($lime, 32%) !default;

$lightGreen-50: lighten($lightGreen, 40%) !default;
$lightGreen-100: lighten($lightGreen, 32%) !default;
$lightGreen-200: lighten($lightGreen, 24%) !default;
$lightGreen-300: lighten($lightGreen, 16%) !default;
$lightGreen-400: lighten($lightGreen, 8%) !default;
$lightGreen-500: $lightGreen !default;
$lightGreen-600: darken($lightGreen, 8%) !default;
$lightGreen-700: darken($lightGreen, 16%) !default;
$lightGreen-800: darken($lightGreen, 24%) !default;
$lightGreen-900: darken($lightGreen, 32%) !default;

$green-50: lighten($green, 40%) !default;
$green-100: lighten($green, 32%) !default;
$green-200: lighten($green, 24%) !default;
$green-300: lighten($green, 16%) !default;
$green-400: lighten($green, 8%) !default;
$green-500: $green !default;
$green-600: darken($green, 8%) !default;
$green-700: darken($green, 16%) !default;
$green-800: darken($green, 24%) !default;
$green-900: darken($green, 32%) !default;

$teal-50: lighten($teal, 40%) !default;
$teal-100: lighten($teal, 32%) !default;
$teal-200: lighten($teal, 24%) !default;
$teal-300: lighten($teal, 16%) !default;
$teal-400: lighten($teal, 8%) !default;
$teal-500: $teal !default;
$teal-600: darken($teal, 8%) !default;
$teal-700: darken($teal, 16%) !default;
$teal-800: darken($teal, 24%) !default;
$teal-900: darken($teal, 32%) !default;

$cyan-50: lighten($cyan, 40%) !default;
$cyan-100: lighten($cyan, 32%) !default;
$cyan-200: lighten($cyan, 24%) !default;
$cyan-300: lighten($cyan, 16%) !default;
$cyan-400: lighten($cyan, 8%) !default;
$cyan-500: $cyan !default;
$cyan-600: darken($cyan, 8%) !default;
$cyan-700: darken($cyan, 16%) !default;
$cyan-800: darken($cyan, 24%) !default;
$cyan-900: darken($cyan, 32%) !default;

$lightBlue-50: lighten($lightBlue, 40%) !default;
$lightBlue-100: lighten($lightBlue, 32%) !default;
$lightBlue-200: lighten($lightBlue, 24%) !default;
$lightBlue-300: lighten($lightBlue, 16%) !default;
$lightBlue-400: lighten($lightBlue, 8%) !default;
$lightBlue-500: $lightBlue !default;
$lightBlue-600: darken($lightBlue, 8%) !default;
$lightBlue-700: darken($lightBlue, 16%) !default;
$lightBlue-800: darken($lightBlue, 24%) !default;
$lightBlue-900: darken($lightBlue, 32%) !default;

$blue-50: lighten($blue, 40%) !default;
$blue-100: lighten($blue, 32%) !default;
$blue-200: lighten($blue, 24%) !default;
$blue-300: lighten($blue, 16%) !default;
$blue-400: lighten($blue, 8%) !default;
$blue-500: $blue !default;
$blue-600: darken($blue, 8%) !default;
$blue-700: darken($blue, 16%) !default;
$blue-800: darken($blue, 24%) !default;
$blue-900: darken($blue, 32%) !default;

$indigo-50: lighten($indigo, 40%) !default;
$indigo-100: lighten($indigo, 32%) !default;
$indigo-200: lighten($indigo, 24%) !default;
$indigo-300: lighten($indigo, 16%) !default;
$indigo-400: lighten($indigo, 8%) !default;
$indigo-500: $indigo !default;
$indigo-600: darken($indigo, 8%) !default;
$indigo-700: darken($indigo, 16%) !default;
$indigo-800: darken($indigo, 24%) !default;
$indigo-900: darken($indigo, 32%) !default;

$deepPurple-50: lighten($deepPurple, 40%) !default;
$deepPurple-100: lighten($deepPurple, 32%) !default;
$deepPurple-200: lighten($deepPurple, 24%) !default;
$deepPurple-300: lighten($deepPurple, 16%) !default;
$deepPurple-400: lighten($deepPurple, 8%) !default;
$deepPurple-500: $deepPurple !default;
$deepPurple-600: darken($deepPurple, 8%) !default;
$deepPurple-700: darken($deepPurple, 16%) !default;
$deepPurple-800: darken($deepPurple, 24%) !default;
$deepPurple-900: darken($deepPurple, 32%) !default;

$purple-50: lighten($purple, 40%) !default;
$purple-100: lighten($purple, 32%) !default;
$purple-200: lighten($purple, 24%) !default;
$purple-300: lighten($purple, 16%) !default;
$purple-400: lighten($purple, 8%) !default;
$purple-500: $purple !default;
$purple-600: darken($purple, 8%) !default;
$purple-700: darken($purple, 16%) !default;
$purple-800: darken($purple, 24%) !default;
$purple-900: darken($purple, 32%) !default;

$pink-50: lighten($pink, 40%) !default;
$pink-100: lighten($pink, 32%) !default;
$pink-200: lighten($pink, 24%) !default;
$pink-300: lighten($pink, 16%) !default;
$pink-400: lighten($pink, 8%) !default;
$pink-500: $pink !default;
$pink-600: darken($pink, 8%) !default;
$pink-700: darken($pink, 16%) !default;
$pink-800: darken($pink, 24%) !default;
$pink-900: darken($pink, 32%) !default;
