@function map-collect($maps...) {
  $collection: ();
  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  @return $collection;
}

@function getVarName($varName) {
  @return --#{$prefix}#{$varName};
}

@function getVar($varName) {
  @return var(--#{$prefix}#{$varName});
}

@function getThemeColors($theme-colors) {
  $new-theme-colors: ();
  @each $variant in map-keys($theme-colors) {
    $new-theme-colors: map-merge(
      $new-theme-colors,
      (#{$variant}: getVar(#{$variant}))
    );
  }
  @return $new-theme-colors;
}
