$gray-colors: (
  'gray': $gray,
  'gray-50': $gray-50,
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
) !default;

$blueGray-colors: (
  'blueGray': $blueGray,
  'blueGray-50': $blueGray-50,
  'blueGray-100': $blueGray-100,
  'blueGray-200': $blueGray-200,
  'blueGray-300': $blueGray-300,
  'blueGray-400': $blueGray-400,
  'blueGray-500': $blueGray-500,
  'blueGray-600': $blueGray-600,
  'blueGray-700': $blueGray-700,
  'blueGray-800': $blueGray-800,
  'blueGray-900': $blueGray-900,
) !default;

$brown-colors: (
  'brown': $brown,
  'brown-50': $brown-50,
  'brown-100': $brown-100,
  'brown-200': $brown-200,
  'brown-300': $brown-300,
  'brown-400': $brown-400,
  'brown-500': $brown-500,
  'brown-600': $brown-600,
  'brown-700': $brown-700,
  'brown-800': $brown-800,
  'brown-900': $brown-900,
) !default;

$red-colors: (
  'red': $red,
  'red-50': $red-50,
  'red-100': $red-100,
  'red-200': $red-200,
  'red-300': $red-300,
  'red-400': $red-400,
  'red-500': $red-500,
  'red-600': $red-600,
  'red-700': $red-700,
  'red-800': $red-800,
  'red-900': $red-900,
) !default;

$deepOrange-colors: (
  'deepOrange': $deepOrange,
  'deepOrange-50': $deepOrange-50,
  'deepOrange-100': $deepOrange-100,
  'deepOrange-200': $deepOrange-200,
  'deepOrange-300': $deepOrange-300,
  'deepOrange-400': $deepOrange-400,
  'deepOrange-500': $deepOrange-500,
  'deepOrange-600': $deepOrange-600,
  'deepOrange-700': $deepOrange-700,
  'deepOrange-800': $deepOrange-800,
  'deepOrange-900': $deepOrange-900,
) !default;

$orange-colors: (
  'orange': $orange,
  'orange-50': $orange-50,
  'orange-100': $orange-100,
  'orange-200': $orange-200,
  'orange-300': $orange-300,
  'orange-400': $orange-400,
  'orange-500': $orange-500,
  'orange-600': $orange-600,
  'orange-700': $orange-700,
  'orange-800': $orange-800,
  'orange-900': $orange-900,
) !default;

$amber-colors: (
  'amber': $amber,
  'amber-50': $amber-50,
  'amber-100': $amber-100,
  'amber-200': $amber-200,
  'amber-300': $amber-300,
  'amber-400': $amber-400,
  'amber-500': $amber-500,
  'amber-600': $amber-600,
  'amber-700': $amber-700,
  'amber-800': $amber-800,
  'amber-900': $amber-900,
) !default;

$yellow-colors: (
  'yellow': $yellow,
  'yellow-50': $yellow-50,
  'yellow-100': $yellow-100,
  'yellow-200': $yellow-200,
  'yellow-300': $yellow-300,
  'yellow-400': $yellow-400,
  'yellow-500': $yellow-500,
  'yellow-600': $yellow-600,
  'yellow-700': $yellow-700,
  'yellow-800': $yellow-800,
  'yellow-900': $yellow-900,
) !default;

$lime-colors: (
  'lime': $lime,
  'lime-50': $lime-50,
  'lime-100': $lime-100,
  'lime-200': $lime-200,
  'lime-300': $lime-300,
  'lime-400': $lime-400,
  'lime-500': $lime-500,
  'lime-600': $lime-600,
  'lime-700': $lime-700,
  'lime-800': $lime-800,
  'lime-900': $lime-900,
) !default;

$lightGreen-colors: (
  'lightGreen': $lightGreen,
  'lightGreen-50': $lightGreen-50,
  'lightGreen-100': $lightGreen-100,
  'lightGreen-200': $lightGreen-200,
  'lightGreen-300': $lightGreen-300,
  'lightGreen-400': $lightGreen-400,
  'lightGreen-500': $lightGreen-500,
  'lightGreen-600': $lightGreen-600,
  'lightGreen-700': $lightGreen-700,
  'lightGreen-800': $lightGreen-800,
  'lightGreen-900': $lightGreen-900,
) !default;

$green-colors: (
  'green': $green,
  'green-50': $green-50,
  'green-100': $green-100,
  'green-200': $green-200,
  'green-300': $green-300,
  'green-400': $green-400,
  'green-500': $green-500,
  'green-600': $green-600,
  'green-700': $green-700,
  'green-800': $green-800,
  'green-900': $green-900,
) !default;

$teal-colors: (
  'teal': $teal,
  'teal-50': $teal-50,
  'teal-100': $teal-100,
  'teal-200': $teal-200,
  'teal-300': $teal-300,
  'teal-400': $teal-400,
  'teal-500': $teal-500,
  'teal-600': $teal-600,
  'teal-700': $teal-700,
  'teal-800': $teal-800,
  'teal-900': $teal-900,
) !default;

$cyan-colors: (
  'cyan': $cyan,
  'cyan-50': $cyan-50,
  'cyan-100': $cyan-100,
  'cyan-200': $cyan-200,
  'cyan-300': $cyan-300,
  'cyan-400': $cyan-400,
  'cyan-500': $cyan-500,
  'cyan-600': $cyan-600,
  'cyan-700': $cyan-700,
  'cyan-800': $cyan-800,
  'cyan-900': $cyan-900,
) !default;

$lightBlue-colors: (
  'lightBlue': $lightBlue,
  'lightBlue-50': $lightBlue-50,
  'lightBlue-100': $lightBlue-100,
  'lightBlue-200': $lightBlue-200,
  'lightBlue-300': $lightBlue-300,
  'lightBlue-400': $lightBlue-400,
  'lightBlue-500': $lightBlue-500,
  'lightBlue-600': $lightBlue-600,
  'lightBlue-700': $lightBlue-700,
  'lightBlue-800': $lightBlue-800,
  'lightBlue-900': $lightBlue-900,
) !default;

$blue-colors: (
  'blue': $blue,
  'blue-50': $blue-50,
  'blue-100': $blue-100,
  'blue-200': $blue-200,
  'blue-300': $blue-300,
  'blue-400': $blue-400,
  'blue-500': $blue-500,
  'blue-600': $blue-600,
  'blue-700': $blue-700,
  'blue-800': $blue-800,
  'blue-900': $blue-900,
) !default;

$indigo-colors: (
  'indigo': $indigo,
  'indigo-50': $indigo-50,
  'indigo-100': $indigo-100,
  'indigo-200': $indigo-200,
  'indigo-300': $indigo-300,
  'indigo-400': $indigo-400,
  'indigo-500': $indigo-500,
  'indigo-600': $indigo-600,
  'indigo-700': $indigo-700,
  'indigo-800': $indigo-800,
  'indigo-900': $indigo-900,
) !default;

$deepPurple-colors: (
  'deepPurple': $deepPurple,
  'deepPurple-50': $deepPurple-50,
  'deepPurple-100': $deepPurple-100,
  'deepPurple-200': $deepPurple-200,
  'deepPurple-300': $deepPurple-300,
  'deepPurple-400': $deepPurple-400,
  'deepPurple-500': $deepPurple-500,
  'deepPurple-600': $deepPurple-600,
  'deepPurple-700': $deepPurple-700,
  'deepPurple-800': $deepPurple-800,
  'deepPurple-900': $deepPurple-900,
) !default;

$purple-colors: (
  'purple': $purple,
  'purple-50': $purple-50,
  'purple-100': $purple-100,
  'purple-200': $purple-200,
  'purple-300': $purple-300,
  'purple-400': $purple-400,
  'purple-500': $purple-500,
  'purple-600': $purple-600,
  'purple-700': $purple-700,
  'purple-800': $purple-800,
  'purple-900': $purple-900,
) !default;

$pink-colors: (
  'pink': $pink,
  'pink-50': $pink-50,
  'pink-100': $pink-100,
  'pink-200': $pink-200,
  'pink-300': $pink-300,
  'pink-400': $pink-400,
  'pink-500': $pink-500,
  'pink-600': $pink-600,
  'pink-700': $pink-700,
  'pink-800': $pink-800,
  'pink-900': $pink-900,
) !default;

$colors: (
  'gray': $gray,
  'blueGray': $blueGray,
  'brown': $brown,
  'red': $red,
  'deepOrange': $deepOrange,
  'orange': $orange,
  'amber': $amber,
  'yellow': $yellow,
  'lime': $lime,
  'lightGreen': $lightGreen,
  'green': $green,
  'teal': $teal,
  'cyan': $cyan,
  'lightBlue': $lightBlue,
  'blue': $blue,
  'indigo': $indigo,
  'deepPurple': $deepPurple,
  'purple': $purple,
  'pink': $pink,
) !default;

$all-colors: map-collect(
  $gray-colors,
  $blueGray-colors,
  $brown-colors,
  $red-colors,
  $deepOrange-colors,
  $orange-colors,
  $amber-colors,
  $yellow-colors,
  $lime-colors,
  $lightGreen-colors,
  $green-colors,
  $teal-colors,
  $cyan-colors,
  $lightBlue-colors,
  $blue-colors,
  $indigo-colors,
  $deepPurple-colors,
  $purple-colors,
  $pink-colors
) !default;
