$utility-colors: $all-colors !default;

$utility-theme-colors: getThemeColors($theme-colors) !default;

$utility-bg-colors: map-collect(
  $utility-colors,
  $utility-theme-colors
) !default;

$utility-text-colors: map-collect(
  $utility-colors,
  $utility-theme-colors,
  (
    'muted': $text-muted,
    'reset': inherit,
  )
) !default;

$utilities-opacity: (
  0: 0,
  25: 0.25,
  50: 0.5,
  75: 0.75,
  100: 1,
) !default;

$utilities-overflow: auto hidden visible scroll !default;
